*.pyc
/*.pyc

runs/*
/runs/*

src/runs/*
/src/runs/*

/src/wandb/*
src/wandb/*
wandb/*

src/train_*

src/checkpoints/*
/checkpoints/*

src/checkpoints_gridnet/*
/checkpoints_gridnet/*

src/checkpoints_unet/*
/checkpoints_unet/*

data/*

*.pt
/*.pt